{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        {% comment %} logo {% endcomment %}
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'music:index' %}">Viber</a>
        </div>
    </div>
</nav>

{% if all_albums %}
<h3>Here are all my albums:</h3>
    <ul>
        {% for album in all_albums %}
        <li><a href="{% url 'music:detail' album.id %}">{{album.album_title}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h2>No data to display</h2>
{% endif %}